*{
  font-family: sans-serif;
  background-color: rgb(32, 31, 31);
}
body{
  margin-left: 50px;
  margin-right: 50px;
}

input{
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #fff;
}

h3{
  color: #fff;
}
h2{
  color: #fff;
}


.cards{
  align-content: center;
  border: 3px solid rgb(238, 236, 236);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 240px;
}


.cards img {
  width: 240px;
  margin: auto;
}
.cards-grid{
  justify-content: center;
  column-count: 5;
  column-gap: 1px;
  column-fill: auto;
}

.form-group{
  display: flex;
}